html {
  font-family: sans-serif;
  color: #333;
}

.handle {
  fill: #333;
}

.transmission {
  fill: hsla(0, 90%, 30%, 0.03);
}

.interference {
  //stroke: #ccc;
  //stroke-width: 1px;
  //stroke-dasharray: 3, 3;
  //fill: none;
  fill: none;
}

.sensing {
  //stroke: #ccc;
  //stroke-width: 1px;
  //stroke-dasharray: 1, 2;
  //fill: none;
  fill: none;
}

.hover > .transmission {
  stroke: #a33;
  stroke-width: 1px;
  fill: hsla(0, 90%, 30%, 0.1);
}

.hover > .interference {
  stroke: #333;
  stroke-width: 1px;
  stroke-dasharray: 3, 3;
  fill: none;
}

.hover > .sensing {
  stroke: #333;
  stroke-width: 1px;
  stroke-dasharray: 1, 2;
  fill: none;
}

.link {
  stroke: rgba(50, 50, 50, 0.5);
  stroke-width: 1px;
  fill: none;
}

.level {
  fill: hsla(180, 90%, 10%, 0.05);
}

.level:hover {
  stroke: #333;
  fill: hsla(180, 90%, 50%, 0.15);
}

.independent {
  fill: red;
}
.source {
  fill: green;
}
