html {
  font-family: sans-serif;
  color: #333;
}

.handle {
  fill: #333;
}

.transmission {
  fill: hsla(0, 90%, 30%, 0.03);
}

.interference {
  //stroke: #ccc;
  //stroke-width: 1px;
  //stroke-dasharray: 3, 3;
  //fill: none;
  fill: none;
}

.sensing {
  //stroke: #ccc;
  //stroke-width: 1px;
  //stroke-dasharray: 1, 2;
  //fill: none;
  fill: none;
}

.gct {
  fill: none;
}

.gcr {
  fill: none;
}

.hover > .transmission, .transmission.show {
  stroke: #a33;
  stroke-width: 1px;
  fill: hsla(0, 90%, 30%, 0.1);
}

.hover > .interference {
  stroke: #333;
  stroke-width: 1px;
  stroke-dasharray: 3, 3;
  fill: none;
}

.hover > .sensing {
  stroke: #333;
  stroke-width: 1px;
  stroke-dasharray: 1, 2;
  fill: none;
}

.hover > .gct, .gct.show {
  stroke: #333;
  stroke-width: 1px;
  stroke-dasharray: 1, 5;
  fill: none;
}

.hover > .gcr, .gcr.show {
  stroke: #333;
  stroke-width: 1px;
  stroke-dasharray: 1, 7;
  fill: none;
}

.link, .gcr-link, .gct-link {
  stroke: rgba(50, 50, 50, 0.5);
  stroke-width: 1px;
  fill: none;
}

.udg-link {
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 1px;
  fill: none;
}

.level {
  fill: hsla(180, 90%, 10%, 0.05);
}

.level:hover {
  stroke: #333;
  fill: hsla(180, 90%, 50%, 0.15);
}

.independent {
  fill: red;
}
.source {
  fill: #7f7;
}

.pulse {
  fill: red;
}

.received {
  fill: #7f7;
}

.handle.receiving {
  fill: #7ff;
}

.handle.sending {
  fill: #ff7;
}

#trace th {
  text-align: left
}

#trace td {
  width: 1em

}

.unhighlight .handle {
  opacity: 0.3;
}

.handle.highlight, .handle.h-highlight {
  opacity: 1;
  fill: blue;
  stroke: none;
  stroke-width: 4px;
}
.handle.independent.highlight {
  opacity: 1;
  stroke: red;
  stroke-width: 4px;
}

.handle.cover {
  opacity: 1;
  fill: orange;
  stroke: black;
  stroke-width: 4px;
}
.handle.order {
  opacity: 1;
  fill: orange;
  stroke: black;
  stroke-width: 4px;
}

.scheduled {
  stroke-width: 8px !important;

}

.hide, .really-hide {
  display: none !important;
}

.show {
  display: inherit !important;
}

table {
  border-collapse: collapse;
  max-width: 1024px;
  overflow-x: auto;
  display: block;
}

th, td {
  padding: 0.25em
}

#trace tr:hover {
  background: #ddd;
}

td:hover {
  background: #ccc;
}

.handle.uninformed {
  opacity: 1;
  stroke: blue;
  stroke-width: 4px;
}
